---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-screen flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> About </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    This is a work in progress.
                    <br />
                    Please check back later.
                    <br />
                    🚧🚧🚧
               </p>
          </div>

          <!-- <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">Achievements</h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                    <li>Alternating Current (AC) System</li>
                    <li>Tesla Coil</li>
                    <li>Induction Motor</li>
                    <li>Wireless Transmission</li>
                    <li>Radio and Remote Control</li>
                    <li>Hydroelectric Power at Niagara Falls</li>
                    <li>X-Ray Imaging</li>
               </ul>
          </div> -->
     </div>
</InfoLayout>
