---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import ExternalLink from "../components/external-link.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-screen flex flex-col justify-between">
          
          <!-- <div>
               <H1 >How I can help? </H1>
               <p class="mt-4 md:mt-8 lg:mt-12 text-xl xl:text-2xl text-zinc-400 text-balance">
                    Interested in working together?
                    Get in touch for new projects and experiments.
               </p>

               <div class="mt-6 sm:mt-12 flex flex-col gap-1">
                    <a href="mailto:hello@nikola.com" class="mb-8 w-fit group flex items-center gap-1 text-base lg:text-xl text-zinc-400 hover:text-zinc-50">
                         hello@nikola.com
                         <svg xmlns="http://www.w3.org/2000/svg" class="-rotate-45 group-hover:rotate-0 transition-all duration-300 ease-in-out" width="24" height="24" viewBox="0 0 24 24">
                              <title>Arrow Icon</title>
                              <path fill="currentColor" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10" opacity=".5"/>
                              <path fill="currentColor" d="M13.53 8.47a.75.75 0 1 0-1.06 1.06l1.72 1.72H8a.75.75 0 0 0 0 1.5h6.19l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06z"/>
                         </svg>
                    </a>

                    <ExternalLink href="https://github.com/iann-mathaiya/nikola-tesla">GitHub</ExternalLink>
                    <ExternalLink href="https://x.com/intent/user?screen_name=ians_studio">Twitter</ExternalLink>
                    <ExternalLink href="https://instagram.com/">Instagram</ExternalLink>
               </div>
          </div>

          <div>
               <p class="text-base sm:text-lg text-zinc-500">481 8th Ave</p>
               <p class="text-base sm:text-lg text-zinc-500">New York, NY 10001</p>
               <p class="text-base sm:text-lg text-zinc-500">United States</p>
          </div> -->
     </div>
</InfoLayout>
