---
import { Image } from 'astro:assets';
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import ACGenerator from "../assets/ac-generator.jpg";
import FluidPropulsion from "../assets/fluid-propulsion.jpg";
import ElectricMotor from "../assets/electro-magnetic-motor.jpg";

const projects = [
     {
          title: "AC Generator",
          description: "Transform mechanical energy into alternating current, powering the modern electric grid",
          image: ACGenerator
     },
     {
          title: "Fluid Propulsion",
          description: "Bladeless turbine using fluid dynamics for efficient, low-friction propulsion.",
          image: FluidPropulsion
     },
     {
          title: "Electro-Magnetic Motor",
          description: "Harness alternating current to produce smooth, efficient rotary motion.",
          image: ElectricMotor
     }];
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-screen">
          <H1> Gallery </H1>

          <!-- <ul class="mt-4 sm:mt-12 grid grid-cols-1 sm:grid-cols-3 gap-16 sm:gap-8">
               {projects.map((project) => (
                    <li>
                         <Image src={project.image} alt={project.title} class="aspect-[1/1.33] object-center object-cover rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4" />
                         <div class="p-1 sm:p-2">
                              <h2 class="text-base text-zinc-100">{project.title}</h2>
                              <p class="text-sm text-zinc-400 text-balance">{project.description}</p>
                         </div>
                    </li>
               ))}
          </ul> -->
     </div>
</InfoLayout>