---
import H1 from "../components/h1.astro";
import Link from "../components/link.astro";
import Navigation from "../components/navigation";
import RootLayout from "../layouts/RootLayout.astro";
import WarpBackground from "../components/warp-background";
import AvailableForWork from "../components/available.astro";
---

<RootLayout>
	<main>
		<div class="group relative w-full min-h-screen flex items-center justify-center">
			<div class="absolute w-full h-full sm:min-h-screen -z-10">
				<WarpBackground
					color1="#09090b"
					color2="#27272a"
					color3="#52525b"
					speed={0.6}
					swirl={0.5}
					swirlIterations={10}
					shapeScale={0.3}
				/>
			</div>

			<div class="p-4 sm:p-8 absolute w-full flex flex-col justify-between min-h-screen z-10">
				<div>
					<H1 size="default"> Asaad's <br /> Playground </H1>
				</div>

				<div>
					<AvailableForWork className="py-4" />
					<div class="mb-2 sm:mb-4 flex items-center justify-between">
						<div class="flex items-center gap-4">
							<Link href="/blog">Blog</Link>
							<Link href="/about" variant="secondary">About</Link>
						</div>

						<!-- <Navigation client:load>
							<Link href="/blog" variant="secondary">Blog</Link>
							<Link href="/about" variant="secondary">About</Link>
							<Link href="/contact" variant="secondary">Contact</Link>
						</Navigation> -->
					</div>
				</div>
			</div>
		</div>
	</main>
</RootLayout>
