---
import clsx from "clsx/lite";

type Props =  {
    href: string
    openNewTab?: boolean
}

const { href, openNewTab = true } = Astro.props

const pathname = Astro.url.pathname;
---

<a href={href} target={openNewTab ? "_blank" : "_self"} 
    class={clsx(
        "w-fit group flex items-center gap-1 text-base hover:text-zinc-100 cursor-pointer",
        pathname === href ? "text-zinc-100" : "text-zinc-500"
    )}>
    <slot />
   {openNewTab &&  
        <svg xmlns="http://www.w3.org/2000/svg" class="-rotate-45 group-hover:rotate-0 transition-all duration-300 ease-in-out" width="18" height="18" viewBox="0 0 24 24" aria-hidden="true">
            <title>Arrow Icon</title>
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 12h2.5M20 12l-6-6m6 6l-6 6m6-6H9.5"/>
        </svg>
    }
</a>