---
import clsx from "clsx/lite";

type Props = {
    className?: string;
    size?: "default" | "large";
}

const { size = "default", className } = Astro.props;
---

<h1
    class={clsx(
        "text-white font-bold text-balance",
        size === "default" && "text-4xl md:text-6xl xl:text-8xl tracking-tight",
        size === "large" && "text-8xl md:text-[120px] lg:text-[160px] tracking-tighter",
        className,
    )}
>
    <slot />
</h1>
