---
import clsx from "clsx/lite";

type Props = {
    href: string
    className?: string
    variant?: "primary" | "secondary"
}

const { href, variant = "primary", className } = Astro.props;
---

<a href={href} class={clsx(
    "w-fit text-base sm:text-2xl px-5 py-2 rounded-full transition-all duration-300 ease-in-out whitespace-nowrap",
    variant === "primary" && "text-zinc-900 bg-zinc-100 hover:outline-2 outline-offset-2 outline-zinc-100",
    variant === "secondary" && "text-zinc-100 hover:text-white bg-transparent hover:bg-zinc-100/20 hover:outline-2 outline-offset-2 outline-zinc-100/20",
    className
)}>
    <slot />
</a>