---

---

<div
    class="prose dark:prose-invert prose:space-y-1 prose:text-balance
    prose-h1:text-3xl prose-h1:text-zinc-50 prose-h1:font-semibold
    prose-h2:text-xl prose-h2:text-zinc-100 prose-h2:font-semibold
    prose-p:text-base prose-p:text-zinc-300 prose-p:leading-7
    prose-strong:text-zinc-300
    prose-blockquote:text-zinc-200 prose-blockquote:font-normal
    prose-img:rounded-xl prose-img:w-full prose-img:aspect-square prose-img:object-top prose-img:object-cover"
>
    <slot />
</div>