---
import RootLayout from "./RootLayout.astro";
import Footer from "../components/footer.astro";
import WarpBackground from "../components/warp-background";

const { title, description, lang, dir } = Astro.props;

const pathname = Astro.url.pathname;
---

<RootLayout title={title} description={description} lang={lang} dir={dir}>
	<div class="flex relative gap-4 w-full max-w-screen-xl">
		<nav class="relative w-4 md:min-w-2xs xl:min-w-sm sm:min-h-screen sm:ml-4 sm:pb-4">
			<div class="w-full h-full max-sm:w-4 md:max-w-2xs xl:max-w-sm fixed -z-10 sm:bottom-4 sm:rounded-b-full overflow-hidden">
				<WarpBackground
					color1="#ffffff"
					color2="#27272a"
					color3="#52525b"
					speed={0.15}
					swirl={1.5}
					swirlIterations={10}
					shapeScale={0.3}
				/>
			</div>
		</nav>

		<main class="relative"  >
			<slot />
			<Footer />
		</main>


	</div>
</RootLayout>
